<main>
  <div class="whyMeHeader">
    <h1 class="header">{{ "WHYME" | translate }}</h1>
  </div>
  <div class="whyMeText">
    <div class="center">
      <p class="whyMePTag">
        {{ "WHYMETEXT" | translate }}
      </p>
    </div>
    <div class="factDiv">
      <p class="iAm">{{ "IAM" | translate }}</p>
      <div class="row">
        <div class="locationImg"></div>
        <div class="remoteImg"></div>
        <div class="bagImg"></div>
      </div>
      <div class="contactDiv">
        <a class="contactBtn" href="#contact">{{ "CONTACTME" | translate }}</a>
      </div>
    </div>
  </div>
  <div class="arrowDiv">
    <a href="#skills">
      <img src="../../../assets/svg-icons/arrow.svg" alt="arrow" />
    </a>
  </div>
</main>
