<main>
    <div>
        <h2 class="header">Why Me</h2>
    </div>
    <div class="whyMeText">
        <div>
            <p class="whyMePTag">
                Ich freue mich jedes Mal, 
                wenn ich die Möglichkeit 
                habe, mich in eine neue 
                Programmiersprache oder 
                ein neues Framework 
                einzuarbeiten. Mein 
                Werdegang zeigt deutlich 
                meine Begeisterung für das 
                Lernen und Weiterentwickeln: 
                Ich habe mit Mobile 
                Development begonnen und 
                meine Leidenschaft für das 
                Programmieren entdeckt. Direkt 
                nach meinem IHK-Abschluss habe 
                ich mich der nächsten 
                Programmiersprache gewidmet, 
                um meinen Horizont weiter zu 
                erweitern.Besonders schätze ich 
                es, mich in komplexe Themen 
                einzuarbeiten und dabei 
                lösungsorientiert und strukturiert 
                vorzugehen. Meine Fähigkeit, 
                mich schnell in neue Technologien 
                einzuarbeiten, und mein Drang nach 
                kontinuierlicher Verbesserung machen 
                mich zu einem vielseitigen und 
                verlässlichen Mitarbeiter. 
                Gleichzeitig arbeite ich gerne 
                im Team, bringe Ideen ein und 
                lasse mich von den Erfahrungen 
                anderer inspirieren.Jetzt freue 
                ich mich riesig darauf, ins 
                Berufsleben zurückzukehren, um 
                mein neu erlerntes Wissen anzuwenden 
                hund aktiv zum Erfolg Ihres Unternehmens beizutragen.
            </p>
        </div>
        <div class="factDiv">
            <p class="iAm">I am</p>
            <div class="row">
                <div class="fact">
                    <img src="../../../assets/svg-icons/location.svg" alt="location_icon">
                    <p>located in Lüdencheid</p>
                </div>
                <div class="fact">
                    <img style="margin-right: 16px;" src="../../../assets/svg-icons/remote.svg" alt="remote_icon">
                    <p>open to work</p>
                </div>
                <div class="fact">
                    <img src="../../../assets/svg-icons/bag.svg" alt="bag_icon">
                    <p>open to relocate</p>
                </div>
            </div>
        </div>
    </div>
    <div class="arrowDiv">
        <img src="../../../assets/svg-icons/arrow.svg" alt="arrow">
    </div>
</main>