<main>
  <div class="whyMeHeader">
    <h1 class="header">Why Me</h1>
  </div>
  <div class="whyMeText">
    <div class="center">
      <p class="whyMePTag">
        I am always excited whenever I have the opportunity to dive into a new
        programming language or framework. My career clearly shows my enthusiasm
        for learning and development: I started with mobile development and
        discovered my passion for programming. Right after my IHK certification,
        I focused on learning the next programming language to broaden my
        horizon. I particularly enjoy delving into complex topics and
        approaching them in a solution-oriented and structured way. My ability
        to quickly familiarize myself with new technologies and my drive for
        continuous improvement make me a versatile and reliable employee. At the
        same time, I enjoy working in teams, contributing ideas, and being
        inspired by the experiences of others. Now, I am thrilled to return to
        professional life, apply my newly acquired knowledge, and actively
        contribute to the success of your company.
      </p>
    </div>
    <div class="factDiv">
      <p class="iAm">I am</p>
      <div class="row">
        <div class="locationImg"></div>
        <div class="remoteImg"></div>
        <div class="bagImg"></div>
      </div>
      <div class="contactDiv">
        <a class="contactBtn" href="#contact">Contact me</a>
      </div>
    </div>
  </div>
  <div class="arrowDiv">
    <a href="#skills">
      <img src="../../../assets/svg-icons/arrow.svg" alt="arrow" />
    </a>
  </div>
</main>
