<main>
    <h1>My Work</h1>
    <div class="container">
        <div class="header">
            <span class="number">1</span>
            <span class="projectName">Project Join</span>
        </div>
        <div class="middle">
            <div class="projectDescription">
                <div class="about">
                    <h2><img src="./assets/svg-icons/point.svg" alt="point"> About the project</h2>
                    <p>
                        Taskmanager inspired by the kanban 
                        System. Create and organize task using
                        drag and drop functions, assign users and
                    </p>
                </div>
                <div class="technologies">
                    <h2><img src="./assets/svg-icons/point.svg" alt="point"> About the project</h2>
                    <p>HTML, CSS, JavaScript, Firebase</p>
                </div>
            </div>
            <div class="projectImg">
                <img src="./assets/img/join.png" alt="join_project_img">
                <div class="link">
                    <a class="github" href="">GitHub</a>
                    <a class="test"href="">Live Test</a>
                </div>
            </div>
        </div>
    </div>
</main>