.projectDescription {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  
    > div {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      
      > img {
        margin-right: 50px;
      }
      
      > p {
        max-width: 100%;
        word-wrap: break-word;
        white-space: pre-line;
        margin-left: 40px;
        margin-top: 20px;
      }
    }
  }
  