@media (max-width: 1024px) {
      .project-card2 {
      display: flex;
      flex-direction: column;
      background-color: #2d3e27;
      border-radius: 30px;
      padding: 20px;
      width: 80%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      color: #d9f99d;
      font-family: "Roboto", sans-serif;
    
      .card-header2 {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
        gap: 24px;
    
        .project-number2 {
          font-size: 40px;
          color: transparent;
          -webkit-text-stroke: 1px #b5e93b;
        }
    
        .project-name2 {
          font-size: 24px;
          color: #b5e93b;
          font-weight: bold;
        }
      }
    
      .card-content2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .about-section2,
        .technologies-section2,
        .learned-section2 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;

          h2 {
            font-size: 18px;
            margin-bottom: 8px;
            color: white;
          }
    
          p {
            font-size: 16px;
            line-height: 1.5;
            color: white;
            margin-left: 34px;
          }
        }
    
        .image-section2 {
          display: flex;
          justify-content: center;
          img {
            max-width: 100%;
            border-radius: 8px;
          }
        }
    
        .links2 {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          gap: 24px;
    
          a {
            padding: 15px 40px;
            border-radius: 25px;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            font-weight: bold;
          }
    
          .github-btn2 {
            background-color: transparent;
            border: 2px solid #B5E93B;
            color: white;
    
            &:hover {
              background-color: #d9f99d;
              color: #2d3e27;
            }
          }
    
          .test-btn2 {
            background-color: #b5e93b;
            color: #2d3e27;
    
            &:hover {
              background-color: #f6f6f6;
              color: #2d3e27;
            }
          }
        }
      }
    }
    
  }