main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

@media(max-width: 1024px) {
    main {
        justify-content: center;
        flex-direction: column;
    }
}