<header>
    <a (click)="onLogoClick()">
        <img class="logo" src="./assets/img/logo.png" alt="head_logo">
    </a>    
    <div class="link">
        <a class="rotate" href="#whyMe">Why me</a>
        <a class="rotate" href="#skills">Skills</a>
        <a class="rotate" href="#projects">My Work</a>
        <a class="rotate" href="#contact">Contact</a>
    </div>
    <img  (click)="onBurgerClick()" class="burgerMenu" src="../../../assets/svg-icons/burger_menu.svg" alt="burger_menu_icon">
</header>