<header>
    <a (click)="onLogoClick()">
        <img class="logo" src="./assets/img/logo.png" alt="head_logo">
    </a>    
    <div class="link">
        <a class="rotate" href="#whyMe">{{ "WHYME" | translate }}</a>
        <a class="rotate" href="#skills">{{ "SKILLS" | translate }}</a>
        <a class="rotate" href="#projects">{{ "WORK" | translate }}</a>
        <a class="rotate" href="#contact">{{ "CONTACT" | translate }}</a>
    </div>
    <img  (click)="onBurgerClick()" class="burgerMenu" src="../../../assets/svg-icons/burger_menu.svg" alt="burger_menu_icon">
</header>