main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        >.languageSwitch {  
            margin-top: 50px; 
            width: 90vw;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: row;
            color: white;
        }
        >div {    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 16px;
        }
    >section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: #B5E93B;
        >div {
            >h1{
                font-family: 'Quantico';
                font-size: 100px;
            }
            >h2 {
                font-family: 'Quantico';
                font-size: 55px;
                text-align: end;
                color: transparent;
                -webkit-text-stroke: 1px #B5E93B;
                text-stroke: 1px #B5E93B;
            }
        }
    }
}

.profileImg {
    margin-left: 130px;
    height: 93.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/img/profil_bild.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

    >h1 {
        font-family: 'Quantico';
        font-size: 100px;
    }

    >h2 {
        font-family: 'Quantico';
        font-size: 55px;
        text-align: end;
        color: transparent;
        -webkit-text-stroke: 1px #B5E93B;
        text-stroke: 1px #B5E93B;
    }
}

svg {
    display: inline-block;
    visibility: visible;
    z-index: 1; /* Falls nötig */
    fill: black; /* Sichtbare Farbe */
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
  
  .arrow {
    position: relative;
    top: -30vh;
    right: -20vw
  }