<main class="titelView">
        <div class="languageSwitch">
            <img src="./assets/svg-icons/email_button.svg" alt="linkedin_icon">
            <img src="./assets/svg-icons/linkedInButton.svg" alt="linkedin_icon">
            <img src="./assets/svg-icons/githubIcon.png" alt="github_icon">
            <p class="pointer">DE</p>
            <p>|</p>
            <p class="pointer">EN</p>
        </div>
    <section>
        <div class="profileImg">
            <h3 class="city">Lüdenscheid</h3>
            <h1 class="name">Siarhei Wehrhahn</h1>
            <h2 class="job">Frontend Developer</h2>
        </div>
        <div class="arrowDiv">
            <img class="arrow" src="./assets/svg-icons/arrow.svg" alt="arrow_icon">
        </div>
    </section>
</main>