main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >.languageSwitch {
        margin-top: 50px;
        width: 90vw;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        color: white;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }

    >section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: #B5E93B;
    }
}

.profileImg {
    margin-left: 333px;
    height: 93.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/img/profil_bild.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    >h1 {
        font-family: 'Quantico';
        font-size: 100px;
        color: #B5E93B;
        text-align: center;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    }

    >h2 {
        font-family: 'Quantico';
        font-size: 55px;
        text-align: end;
        color: transparent;
        -webkit-text-stroke: 1px #B5E93B;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
        margin-bottom: 50%;
    }

}

svg {
    display: inline-block;
    visibility: visible;
    fill: black;
    width: 30px;
    height: 30px;
}

.arrow {
    position: relative;
    top: -15vh;
}

.pointer {
    cursor: pointer;
}

.city {
    display: none;
}

@media(max-width: 1250px) {
    .profileImg {
        margin-left: 210px;
    }
}

@media (max-width: 1024px) {
    .profileImg {
        margin-left: 110px;
        flex-direction: column-reverse;
        >h1 {
            font-size: 40;
        }
        >h2 {
            font-size: 24;
            margin-bottom: 0;
            -webkit-text-stroke: transparent;
            color: #B5E93B;
        }
    }

    .city {
        display: flex;
        color: white;
        font-size: 28px;
    }
  }