<main class="titelView">
  <div class="overlayMenue">
    <div class="closeOverlayDiv">
      <img (click)="toggleOverlay()" src="./assets/svg-icons/close.svg" alt="close_icon" />
    </div>
    <div class="menu">
      <a href="#whyMe" (click)="toggleOverlay()">Why me</a>
      <a href="#skills" (click)="toggleOverlay()">My Skill Set</a>
      <a href="#workHeader" (click)="toggleOverlay()">My Work</a>
      <a href="#contact" (click)="toggleOverlay()">Contact Me</a>
      <div class="languageSwitchMobile">
        <p class="pointer" (click)="toggleOverlay()">DE</p>
        <p>|</p>
        <p class="pointer" (click)="toggleOverlay()">EN</p>
      </div>
    </div>
  </div>
  <div class="languageSwitch">
    <img src="./assets/svg-icons/email_button.svg" alt="linkedin_icon" />
    <img src="./assets/svg-icons/linkedInButton.svg" alt="linkedin_icon" />
    <img src="./assets/svg-icons/githubIcon.png" alt="github_icon" />
    <p class="pointer">DE</p>
    <p>|</p>
    <p class="pointer">EN</p>
  </div>
  <section>
    <div class="profileImg">
      <h3 class="city">Lüdenscheid</h3>
      <div class="names">
        <h1 class="name">Siarhei</h1>
        <h1 class="sureName">Wehrhahn</h1>
      </div>
      <h2 class="job">Frontend Developer</h2>
    </div>
    <div class="arrowDiv">
      <a href="#whyMe">
        <img
          class="arrow"
          src="./assets/svg-icons/arrow.svg"
          alt="arrow_icon"
        />
      </a>
    </div>
  </section>
</main>
