<main class="titelView">
        <div class="languageSwitch">
            <img src="./assets/svg-icons/email_button.svg" alt="linkedin_icon">
            <img src="./assets/svg-icons/linkedInButton.svg" alt="linkedin_icon">
            <img src="./assets/svg-icons/githubIcon.png" alt="github_icon">
            <p>DE</p>
            <p>|</p>
            <p>EN</p>
        </div>
    <section>
        <div class="profileImg">
            <h1>Siarhei Wehrhahn</h1>
            <h2>Frontend Developer</h2>
        </div>
        <div>
            <img class="arrow" src="./assets/svg-icons/arrow.svg" alt="arrow_icon">
        </div>
    </section>
</main>