footer {
  min-width: 100px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #b5e93b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  color: #4A4A4A;
  padding: 24px;
  .logoDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
      height: 20%;
    }
  }
  .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    >a {
      text-decoration: none;
      color: #4A4A4A;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 1024px) {
  footer {
    min-width: 100%;
    min-height: 100px;
  }
}
