<main>
  <div class="header">
    <a>
      <img class="logo" src="./assets/img/logo.png" alt="head_logo" />
    </a>
  </div>
  <div class="impressum">
    <img
      [routerLink]="['']"
      src="./assets/svg-icons/arrow.svg"
      alt="back_arrow"
    />
    <h1>{{ "IMPRINT" | translate }}</h1>
    <p>{{ "IMPRINT_DESCRIPTION" | translate }}</p>
    <p>
      Siarhei Wehrhahn <br />
      Loher str. 1<br />
      58511 Lüdenscheid <br />
    </p>
    <p>
      <strong>{{ "CONTACT_PERSON" | translate }} </strong><br />
      Siarhei Wehrhahn<br />
    </p>
    <p>
      {{ "CONTACT_INFO" | translate }} <br />
      {{ "PHONE" | translate }} +49157-73656331<br />
      E-Mail:
      <a href="mailto:sergei1997.sw@gmail.com">sergei1997.sw&#64;gmail.com</a>
    </p>
    <p>
      <strong>{{ "DISCLAIMER" | translate }}</strong><br /><br /><strong
        >{{ "DISCLAIMERHEADER" | translate }}</strong
      ><br /><br />
      {{ "DISCLAIMER_CONTENT1" | translate }}<br /><br /><strong>{{ "PRIVACYPOLICY2" | translate }}</strong><br /><br />
      {{ "DISCLAIMER_CONTENT2" | translate }}<br />
      {{ "DISCLAIMER_CONTENT3" | translate }}<br />
      {{ "DISCLAIMER_CONTENT4" | translate }}<br />
    </p>
    <br />
    {{ "IMPRINTFOR" | translate }}
    <a href="https://www.impressum-generator.de">{{ "IMPRINTGENERATOR" | translate }}</a> der
    <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow"
      >Kanzlei Hasselbach, Bonn</a
    >
  </div>
  <div class="footer"></div>
</main>
