$background-gradient: linear-gradient(
  to right,
  #000000 9%,
  #2c2b2b 22%,
  #0b0a0a 38%,
  #323232 63%,
  #0b0a0a 75%
);
$header-footer-color: #b5e93b;
$text-color: #ffffff;

.impressum {
  width: calc(100% - 250px);
  overflow-x: auto;
  padding: 48px;
  height: 93vh;
  background: $background-gradient;
  color: $text-color;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  > img {
    transform: rotate(180deg);
    margin-bottom: 20px;
    position: absolute;
    left: 115px;
    top: -100px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100vh;
  background-color: #b5e93b;
}

.footer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100vh;
  background-color: #b5e93b;
}

.logo {
  width: 100px;
}

@media (max-width: 600px) {
  .impressum >img {
    width: 50px;
    top: 0;
  }
}

@media (max-width: 430px) {
  .impressum >img {
    width: 50px;
    top: 0;
    left: 10px;
  }
}