<main>
  <div class="empty"></div>
  <div class="down">
    <div class="header">
      <h1>My Skill Set</h1>
    </div>
    <div class="skills">
      <p>
        The IT world is constantly changing, and I really enjoy expanding my
        knowledge. I'm especially interested in new technologies and tools
        because I love working on my skills and always learning something new.
        For me, it's important not only to keep up with trends but also to grow
        through hands-on experience and find new solutions to the challenges
        that come my way.
      </p>
      <div class="skillIcon">
        <div *ngFor="let skill of skillIcon" class="skill">
          <img *ngIf="skill.icon" [src]="skill.icon" [alt]="skill.name" />
          <span [innerHTML]="skill.name"></span>
        </div>
      </div>
    </div>
    <div class="arrowDiv">
      <a href="#projects">
      <img src="../../../assets/svg-icons/arrow.svg" alt="arrow" />
    </a>
    </div>
  </div>
</main>
