<main>
  <div class="empty"></div>
  <div class="down">
    <div class="header">
      <h1>{{ "MYSKILLSET" | translate }}</h1>
    </div>
    <div class="skills">
      <p>
        {{ "MYSKILLSTEXT" | translate }}
      </p>
      <div class="skillIcon">
        <div *ngFor="let skill of skillIcon" class="skill">
          <img *ngIf="skill.icon" [src]="skill.icon" [alt]="skill.name" />
          <span [innerHTML]="skill.name"></span>
        </div>
      </div>
    </div>
    <div class="arrowDiv">
      <a href="#projects">
      <img src="../../../assets/svg-icons/arrow.svg" alt="arrow" />
    </a>
    </div>
  </div>
</main>
