.skillIcon {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px 10px;
  justify-content: center;
  margin-bottom: 50px;

  > .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > img {
      width: 50px;
      height: 50px;
      margin-bottom: 8px;
      filter: drop-shadow(4px 6px rgba(0, 0, 0, 0.1));
      transition: box-shadow 0.3s, transform 0.3s;
    }
    >img:hover {
      filter: drop-shadow(0px 4px 15px rgba(0, 255, 0, 0.8)) brightness(1.5);
      transform: scale(1.05);
    }

    > span {
      font-size: 14px;
      color: white;
      line-height: 1.5;
      word-wrap: break-word;
      text-align: center;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > .empty {
    width: 100%;
    height: 40vh;
  }

  > .down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    > .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      > h1 {
        width: 100%;
        font-family: "Quantico", sans-serif;
        font-size: 65px;
        color: transparent;
        transform: rotate(-90deg);
        -webkit-text-stroke: 1px #b5e93b;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        margin-left: 50px;
        white-space: nowrap;
      }
    }

    > .skills {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      > p {
        font-size: 18px;
        width: 70%;
        max-width: calc(7 * 70px + 6 * 80px);
        text-wrap: wrap;
        color: white;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}

.arrowDiv {
  height: 73vh;
  width: 12%;
  display: flex;
  justify-content: end;
  align-items: start;
}

@media (max-width: 1250px) {
  .skillIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    > .empty {
      display: none;
    }

    .arrowDiv {
      display: none;
    }

    > .down {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        > h1 {
          transform: rotate(0deg);
          margin-top: 120px;
          margin-bottom: 24px;
          margin-left: 0;
          width: 100%;
          text-align: start;
        }
      }
      > .skills {
        width: 100%;
        display: flex;
        justify-content: center;
        > p {
          width: 100%;
          text-align: start;
        }
        > .skillIcon {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  main 
  >.down 
  >.header 
  >h1 {
    font-size: 47px;
  }
}