@font-face {
  font-family: "Fredoka";
  src: url("../../../assets/fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  > h1 {
    font-family: "Quantico", sans-serif;
    font-size: 54px;
    color: transparent;
    transform: rotate(-90deg);
    -webkit-text-stroke: 1px #b5e93b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 100px;
  }
  > form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
}

.inputField {
  width: 90%;
  height: 50px;
  border: 1px solid #b5e93b;
  padding: 8px;
  border-radius: 8px;
  color: #d3ed97;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 35px;
}

.textArea {
  height: 255px;
}

.textArea::placeholder {
  padding: 16px;
}

.inputField::placeholder {
  color: #d3ed97;
  font-family: "Fredoka";
  padding-inline: 16px;
}

.term {
  width: 80%;
  white-space: pre-line;
  font-family: "Fredoka";
  font-size: 14px;
  color: #b5e93b;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

.submitBtn {
  width: 220px;
  background-color: #9e9d9d;
  color: #4a4a4a;
  border-radius: 10px;
  padding: 10px;
  font-size: 23px;
}

section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: white;
  > h2 {
    text-align: end;
    font-size: 18px;
    color: #d3ed97;
    margin-bottom: 12px;
  }
  > p {
    width: 40%;
    white-space: pre-line;
  }
}
