<div class="container">
  <h1 class="header">{{ "CONTACTME" | translate }}</h1>
  <div class="endOfContact">
    <div class="arrowDivMobile" (click)="triggerScrollToTop()">
      <img src="./assets/svg-icons/arrow.svg" alt="arrow" />
    </div>
    <div class="links">
      <a href="https://github.com/Siarhei-Wehrhahn" target="_blank">
        <img src="./assets/svg-icons/githubIcon.png" alt="github_icon" />
      </a>
      <a href="mailto:sergei1997.sw@gmail.com" target="_blank">
        <img src="./assets/svg-icons/email_button.svg" alt="linkedin_icon" />
      </a>
      <a href="https://www.linkedin.com/in/siarhei-wehrhahn-b31471295/" target="_blank">
        <img src="./assets/svg-icons/linkedInButton.svg" alt="linkedin_icon" />
      </a>
    </div>    
  </div>

  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <input
      class="inputField"
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      placeholder='{{ "YOURNAME" | translate }}'
      [ngClass]="{
        invalid:
          !contactForm.form.controls['name']?.valid &&
          contactForm.form.controls['name']?.touched,
        valid: contactForm.form.controls['name']?.valid
      }"
      required
    />

    <input
      class="inputField"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      placeholder='{{ "YOUREMAIL" | translate }}'
      [ngClass]="{
        invalid:
          !contactForm.form.controls['email']?.valid &&
          contactForm.form.controls['email']?.touched,
        valid: contactForm.form.controls['email']?.valid
      }"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      required
    />

    <textarea
      class="inputField textArea"
      #message="ngModel"
      minlength="4"
      [(ngModel)]="contactData.message"
      name="message"
      id="message"
      placeholder='{{ "WRITESOMETHING" | translate }}'
      [ngClass]="{
        invalid: message.invalid && message.touched,
        valid: message.valid
      }"
      required
    ></textarea>

    <div *ngIf="message.invalid && message.touched">
      <span>{{ "ENTERMESSAGE" | translate }}</span>
    </div>

    <div class="checkbox-container">
      <img
        class="terms"
        [src]="checkboxSrc"
        (click)="toggleCheckbox()"
        (mouseenter)="onHover(true)"
        (mouseleave)="onHover(false)"
        alt="checkbox"
      />
      <div class="acceptionFailed">
        <label class="term" for="terms">
          {{ "TERM1" | translate }}
          <a [routerLink]="['/privacy-policy']">{{ "TERM2" | translate }}</a> {{ "TERM3" | translate }}
        </label>
        <p class="failedText" style="color: #fd2e12">
          {{ "FAILEDTEXT" | translate }}
        </p>
      </div>
    </div>

    <input id="sendBtn" class="submitBtn" type="submit" value="send" />
  </form>

  <section>
    <h2>{{ "LETSWORK" | translate }}</h2>
    <p>{{ "LETSWORKTEXT" | translate }}</p>
    <div class="email responsiveView100">
      <img src="./assets/svg-icons/email.svg" alt="email_icon" />
      <p>E-mail: sergei1997.sw&#64;gmail.com</p>
    </div>
    <div class="phone responsiveView100">
      <img src="./assets/svg-icons/phone.svg" alt="phone_icon" />
      <p>Tel: 015 773 656 331</p>
    </div>
    <div class="backArrow">
      <a href="#start" (click)="scrollTo('start')">
        <img src="./assets/svg-icons/arrow.svg" alt="arrow_icon" />
      </a>
    </div>
    <div class="links">
      <a [routerLink]="['/legal-notice']">{{ "LEGALNOTICE" | translate }}</a>
      <a [routerLink]="['/privacy-policy']">{{ "PRIVACYPOLICY" | translate }}</a>
      <p>© Siarhei Wehrhahn 2024</p>
    </div>
  </section>
  <h1 class="secondHeader">{{ "CONTACTME" | translate }}</h1>
</div>
