@font-face {
  font-family: "Fredoka";
  src: url("../../../assets/fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  .endOfContact {
    display: none;
  }
  .secondHeader {
    display: none;
  }

  > .header {
    font-family: "Quantico", sans-serif;
    font-size: 54px;
    color: transparent;
    transform: rotate(-90deg);
    -webkit-text-stroke: 1px #b5e93b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 100px;
    white-space: nowrap;
  }
  > form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
}

.inputField {
  width: 100%;
  height: 50px;
  border: 1px solid #b5e93b;
  padding: 22px;
  border-radius: 8px;
  color: #d3ed97;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 35px;
  box-sizing: border-box;
}

.textArea {
  height: 255px;
  padding: 20px;
  box-sizing: border-box;
  resize: vertical;
}

.textArea:text {
  height: 255px;
  padding: 20px;
}

.textArea::placeholder {
  padding: 1px;
}

.inputField::placeholder {
  color: #d3ed97;
  font-family: "Fredoka";
  padding-inline: 1px;
}

.term {
  width: 80%;
  white-space: pre-line;
  font-family: "Fredoka";
  font-size: 14px;
  color: #b5e93b;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

a {
  color: white;
}

input:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  background-image: none !important;
  color: #b5e93b !important;
  -webkit-text-fill-color: #d3ed97 !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.submitBtn {
  width: 220px;
  background-color: #9e9d9d;
  color: #4a4a4a;
  border-radius: 10px;
  padding: 10px;
  font-size: 23px;
  cursor: pointer;
}

.submitBtn.valid {
  background-color: #b5e93b;
  color: white;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  font-size: 23px;
  cursor: pointer;
}

.terms {
  width: 20px;
  height: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.acceptionFailed {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.failedText {
  display: none;
}

.inputField {
  border: 1px solid #b5e93b;
  transition: border 0.3s ease;
}

.inputField.invalid {
  border: 1px solid red;
}

.inputField.valid {
  border: 1px solid #b5e93b;
}

.secondHeader {
  display: none;
}

section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  text-align: end;
  color: white;
  > h2 {
    text-align: end;
    font-size: 18px;
    color: #d3ed97;
    margin-bottom: 12px;
  }
  > p {
    width: 75%;
    white-space: pre-line;
  }
  > .email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    > img {
      height: 20px;
    }
    > p {
      margin-left: 12px;
    }
  }
  > .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    > p {
      margin-left: 12px;
    }
  }
  > .backArrow {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    height: 250px;
    scroll-behavior: smooth;
    a > img {
      transform: rotate(180deg);
    }
  }
  > .links {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 24px;
    > a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (hover: none) {
  .checkbox:hover {
    background-color: inherit;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    height: auto !important;
    flex-direction: column-reverse;
    align-items: center;
    > h1 {
      width: 80%;
      text-align: start;
    }
    .endOfContact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > .arrowDivMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 54px;
        > img {
          transform: rotate(-90deg);
          margin-left: 158px;
        }
      }
      > .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 45px;
        margin-top: 60px;
      }
    }
    > form {
      margin-top: 24px;
      width: 90%;
      align-items: end;
      > input,
      > textArea {
        width: 98%;
      }
      > #sendBtn {
        width: 35%;
        border-radius: 50px;
      }
      .checkbox-container {
        width: 100%;
      }
    }
    .header {
      display: none;
    }
    .secondHeader {
      width: 90%;
      display: inline;
      font-family: "Quantico", sans-serif;
      font-size: 54px;
      color: transparent;
      -webkit-text-stroke: 1px #b5e93b;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      margin-top: 20px;
      white-space: nowrap;
      text-align: start;
    }
    > section {
      width: 90%;
      align-items: center;
      text-align: start;
      > h2 {
        width: 100%;
        text-align: start;
      }
      > p {
        width: 100%;
        text-align: start;
      }
      .backArrow {
        display: none;
      }
      .links {
        display: none;
      }
    }
  }

  section .responsiveView100 {
    width: 100%;
    text-align: start;
    justify-content: start;
    margin-top: 24px;
  }
}

.container > .secondHeader {
  font-size: 47px;
}

@media (max-width: 480px) {
  .container {
    > form {
      > input,
      > textArea {
        width: 94%;
      }
    }
    > .secondHeader {
      font-size: 30px;
    }
  }
}

@media (max-height: 950px) {
  .container {
    height: 70vh;
  }
}
