<main>
  <div class="leftSide">
    <div class="header">
      <p class="number">6</p>
      <p class="headerText">Ongoing project</p>
    </div>
    <p class="projectInfo">
      My current project focuses on an IT company that requires a new website
      for its business. This project is both exciting and challenging, as
      success lies in meticulous planning and precise execution. If you have a
      specific request or idea in mind, feel free to reach out to me via the
      contact section. I’ll do my best to bring your vision to life!
    </p>
    <a href="#contact">Let's Talk</a>
  </div>
  <div class="rightSide">
    <a href="#references">
      <img src="./assets/svg-icons/arrow.svg" alt="arrow" />
    </a>
  </div>
</main>
