<div id="main-view-container" class="main-view-container">
    <div class="content">
      <section style="width: 100vw;" id="titelView"><app-titel-view></app-titel-view></section>
      <section style="width: 100vw;"id="whyMe"><app-why-me></app-why-me></section>
      <section style="width: 100vw;" id="skills"><app-skills></app-skills></section>
      <section style="width: 100vw;" id="projects"><app-my-work></app-my-work>></section>
      <section id="references">Abschnitt 5</section>
      <section id="contact"><app-contactform></app-contactform>></section>
    </div>
  </div>
