/* Für die horizontale Scroll-Funktion */
body {
    overflow-x: hidden; /* Verhindert vertikales Scrollen im Body */
  }
  
  .main-view-container {
    display: flex;
    overflow-x: auto;   /* Ermöglicht horizontales Scrollen */
    width: 100vw;        /* Stellt sicher, dass der Container die volle Bildschirmbreite einnimmt */
    height: 100vh;       /* Der Container nimmt die volle Bildschirmhöhe ein */
    white-space: nowrap; /* Verhindert das Umbruchverhalten, damit der Inhalt horizontal bleibt */
  }
  
  .content {
    display: flex;
    flex-direction: row;
  }
  
  section {
    min-width: 100vw;   /* Jede Sektion nimmt 100% der Bildschirmbreite ein */
    height: 100%;
    flex-shrink: 0;     /* Verhindert das Schrumpfen der Sektionen */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  