<div id="main-view-container" class="main-view-container">
    <div class="content">
      <section style="width: 100vw" id="titelView"><app-titel-view></app-titel-view></section>
      <section style="width: 100vw" id="whyMe"><app-why-me></app-why-me></section>
      <section style="width: 100vw" id="skills"><app-skills></app-skills></section>
      <section style="width: 100vw" id="projects"><app-my-work></app-my-work></section>
      <section style="width: 50vw"><app-ongoing-project></app-ongoing-project></section>
      <section style="width: 100vw" id="references"><app-references></app-references></section>
      <section style="width: 100vw" id="contact"><app-contactform></app-contactform></section>
    </div>
    <app-footer></app-footer>
  </div>
