.main-view-container {
  overflow-x: scroll;
  scroll-behavior: auto;
  display: flex;
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
}

.full-height {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  outline: 1px solid red;
}

.main-view-container::-webkit-scrollbar {
  display: none;
}

.ongoing {
  width: 10%;
}

section {
  width: 100vw;
  position: relative;
}

.widthLimiter {
  max-width: 1450px;
}

#titelView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 220px);
  height: 100%;
  margin: 0 auto; 
  box-sizing: border-box;
}

.content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  gap: 24px; 
  padding-right: 20px
}

.content {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    to right,
    #000000 9%,
    #2c2b2b 22%,
    #0b0a0a 38%,
    #323232 63%,
    #0b0a0a 75%
  );
  height: 100%;
}

section {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: none;
}

@media (max-width: 1024px) {
  #titelView {
    width: 100%;
  }

  .content-container {
    padding: 0;

  }

  .content {
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      #000000 9%,
      #2c2b2b 22%,
      #0b0a0a 38%,
      #323232 63%,
      #0b0a0a 75%
    );
    width: 100%;
    height: max-content;
  }

  .ongoing {
    width: 100%;
  }
  .main-view-container {
    overflow-y: auto;
  }

  .main-view-container::-webkit-scrollbar {
    display: contents;
  }

  .footer {
    display: block;
  }
}