<main>
  <h2>References</h2>
  <div class="smallView">
    <h2>Need a teamplayer?</h2>
    <p>Here what my colleagues said about me</p>
  </div>
  <div class="referenceDiv">
    <div *ngFor="let obj of references" class="references">
      <div class="referenceBox">
        <p>{{ obj.reference }}</p>
      </div>
      <div class="line"></div>
      <div class="person">
        <h3>{{ obj.name }}</h3>
        <p>{{ obj.project }}</p>
      </div>
    </div>
  </div>
  <div class="arrow">
    <a href="#contact">
      <img src="../../../assets/svg-icons/arrow.svg" alt="arrow_icon" />
    </a>
  </div>
</main>
<body>
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div *ngFor="let obj of references" class="references item">
        <div class="referenceBox">
          <p>{{ obj.reference }}</p>
        </div>
        <div class="line"></div>
        <div class="person">
          <h3>{{ obj.name }}</h3>
          <p>{{ obj.project }}</p>
        </div>
    </div>
  </main>
</body>
