<main>
  <h2>References</h2>
  <div class="smallView">
    <h2>Need a teamplayer?</h2>
    <p>Here what my colleagues said about me</p>
  </div>
  <div class="referenceDiv" #referencesContainer>
    <div *ngFor="let obj of references" class="references" #referencesContainer>
      <div class="referenceBox">
        <p>{{ obj.reference }}</p>
      </div>
      <div class="line"></div>
      <div class="person">
        <h3>{{ obj.name }}</h3>
        <p>{{ obj.project }}</p>
      </div>
    </div>
  </div>
  <div class="dots">
    <span
      *ngFor="let ref of references; let i = index"
      class="dot"
    ></span>
  </div>
  <div class="arrow">
    <img src="../../../assets/svg-icons/arrow.svg" alt="arrow_icon" />
  </div>
</main>