main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;

  > h2 {
    font-family: "Quantico", sans-serif;
    font-size: 54px;
    color: transparent;
    transform: rotate(-90deg);
    -webkit-text-stroke: 1px #b5e93b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 115px;
  }

  > .smallView {
    display: none;
  }

  > .referenceDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    > .references {
      width: 600px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 1px solid #b5e93b;
      color: white;
      border-radius: 30px;
      gap: 16px;
      padding-inline: 24px;

      > .referenceBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;

        > p {
          white-space: pre-wrap;
          text-align: center;
        }
      }

      > .line {
        width: 1px;
        height: 80%;
        background-color: #b5e93b;
      }

      > .person {
        min-width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;

        > h3 {
          color: #b5e93b;
        }

        > p {
          color: #d3ed97;
        }
      }
    }
  }

  > .arrow {
    height: 61.5%;
  }
}

@media (max-width: 1024px) {
  main {
    height: 650px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > h2 {
      display: none;
    }

    > .smallView {
      width: 80%;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;

      > h2 {
        color: #b5e93b;
        font-size: 22px;
      }

      > p {
        color: white;
        font-size: 16px;
      }
    }

    > .referenceDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 24px;
      padding: 24px;

      > .references {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        gap: 16px;
        scroll-snap-type: x mandatory;
        padding-inline: 24px;
        overflow-x: auto;
        width: 80vw;

        &::-webkit-scrollbar {
          display: none;
        }

        > .referenceBox {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: white;
          scroll-snap-align: start;
          margin-right: 10%; 
          width: 50%;
          flex-shrink: 0;

          > p {
            white-space: pre-wrap;
            text-align: center;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    /* Dot styling */
    .dots {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      gap: 8px;
      position: relative;
      top: 16px;
    }

    .dot {
      width: 10px;
      height: 10px;
      background-color: #b5e93b;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.5;

      &.active {
        opacity: 1;
        transform: scale(1.2);
      }
    }

    > .arrow {
      display: none;
    }
  }
}
